<!--=====================================
BANNER
======================================-->
<figure class="banner box">

	<img src="{{GLOBAL}}api-php/recursos/banner/default.jpg" class="img-responsive" width="100%">	

	<div class="textoBanner textoDer">
		
		<h1 style="color:#fff">CONVIERTE TUS SUEÑOS EN REALIDAD</h1>

		<h2 style="color:#fff"><strong>!CONVIÉRTETE EN SOCIO</strong></h2>

		<h3 style="color:#fff">
				<a href="#">
						
					<button class="btn btn-success text-uppercase">

					! ÚNETE A ZAFIRO !

					</button>

				</a>
		</h3>

	</div>

</figure>

